@import "normalize.css";
@import "sanitize.css";
@import "fontface.css";

body #app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "OpenSans-Regular", sans-serif;
  color: $basicColor;

  main {
    flex: 1;
  }
  menu {
    margin: 0;
  }
}
